* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.page {
    background-color: azure;
    background-image: url("/assets/images/hypnotize.png");
}

.top-top {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}
.top-section {
    height: 100px;
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
    border-bottom: 2px solid #cccccc;
}

header {
    padding: 30px 20px 0 20px;
    background-color: #ce7bc0;
    float: left;
    height: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #cccccc;
    color: white;
    
}

nav p {
    float: right;
    padding: 40px 0 10px 30px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    color: #777777;
    border-left: 2px solid #cccccc;
}



#h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ce7bc0;
}

.About-me {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 30px;
    margin-top: 10px;  

}
.Content p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: #777777;
    
}
.Content {
    background-color: #ffffff;
    height: 500px;
    width: 960px;
    margin: 40px auto 100px auto;
    padding: 30px;
    overflow: hidden;


}
img {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}

.footer {
    background-color: #cccccc;
    height: 80px;
    clear: both;
    border-top: 8px solid #ce7bc0;
    text-align: center;
    
    
    
}
